<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Book Details</h2>

<table>
  <tr>
    <th>BookId</th>
    <th>BookName</th>
    <th>WriterName</th>
  </tr>
  {% for b in data %}
  <tr>
    <td>{{ b.book_id }}</td>
    <td>{{ b.book_name }}</td>
    <td>{{ b.writer_name }}</td>
    </tr>
    {% endfor %}
  
</table>
<br><br>
<a href="add"><h1>Click Here To Add Book Details</h1></a>
<br>
<a href="update"><h1>Click Here To Update</h1></a>
<br>
<a href="delete"><h1>Click Here To Delete</h1></a>
</body>
</html>

